@media only screen and (max-width: 500px) {

    h2.title {
        font-size: 1.5em;
    }

    .markdown-preview-toggle {
        float: none;
        display: block;
    }

    .markdown-message {
        display: block;
    }
}