div.alert-success a{
    color: darken($brand-primary, 25%);
}

.close-alert {
    cursor: pointer;    
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}