textarea.form-control.description {
    height: 150px !important;
}

select{
    -webkit-appearance: none;
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) !important; 
    background-position : right center;
    background-repeat: no-repeat;
    padding-right: 1.5em;
}

select.selected {
    color: $text-color;
}

select.placeholder{
    color: $input-color-placeholder;
}

legend.error {
    color: $brand-danger;
}

.inline-success {
    color: $brand-success;
}

.inline-alert,
.inline-danger {
    color: $brand-danger;
}

.cov-date-body {
    font-family: Raleway, sans-serif !important;   
}

.action-link {
    border: none;
    margin-right: 15px;
}

.action-link:hover {
    text-decoration: none;
}