textarea.form-control.description {
    height: 150px !important;
}

select.selected {
    color: $text-color;
}

select.placeholder{
    color: $input-color-placeholder;
}

legend.error {
    color: $brand-danger;
}

.inline-success {
    color: $brand-success;
}

.inline-alert,
.inline-danger {
    color: $brand-danger;
}

.cov-date-body {
    font-family: Raleway, sans-serif !important;   
}

.action-link {
    border: none;
    margin-right: 15px;
}

.action-link:hover {
    text-decoration: none;
}