textarea.form-control.description {
    height: 150px !important;
}

select.state option:first-child {
    color: #B3C4DE
}

legend.error {
    color: $brand-danger;
}

.inline-alert {
    color: $brand-danger;
}

.cov-date-body {
    font-family: Raleway, sans-serif !important;   
}
