.bold {
    font-weight: 700;
}

/**
 * Borders
 */
.bottom-border {
    border-bottom: 1px solid;
    border-bottom-color: lighten($input-border, 10%);    
}

.top-border {
    border-top: 1px solid;
    border-top-color: lighten($input-border, 10%);    
}

/**
 * Margins
 */

/* None */
.top-margin-none {
    margin-top: 0px;
}

.bottom-margin-none {
    margin-bottom: 0px;
}

.right-margin-none {
    margin-right: 0px;
}

.left-margin-none {
    margin-left: 0px;
}

/* Large */
.top-margin-lg {
    margin-top: 30px;
}

.bottom-margin-lg {
    margin-bottom: 30px;
}

.right-margin-lg {
    margin-right: 30px;
}

.left-margin-lg {
    margin-left: 30px;
}

/* Medium */
.top-margin-md {
    margin-top: 15px;
}

.bottom-margin-md {
    margin-bottom: 15px;
}

.right-margin-md {
    margin-right: 15px;
}

.left-margin-md {
    margin-left: 15px;
}

/* Small */
.top-margin-sm {
    margin-top: 8px;
}

.bottom-margin-sm {
    margin-bottom: 8px;
}

.right-margin-sm {
    margin-right: 8px;
}

.left-margin-sm {
    margin-left: 8px;
}

/* Extra small */
.top-margin-xs {
    margin-top: 5px;
}

.bottom-margin-xs {
    margin-bottom: 5px;
}

.right-margin-xs {
    margin-right: 5px;
}

.left-margin-xs {
    margin-left: 5px;
}

/**
 * Padding
 */

/* None */
.top-padding-none {
    padding-top: 0px;
}

.bottom-padding-none {
    padding-bottom: 0px;
}

.no-left-padding {
    padding-left: 0px;
}

/* Large */
.top-padding-lg {
    padding-top: 30px;
}

.bottom-padding-lg {
    padding-bottom: 30px;
}

.left-margin-lg {
    margin-left: 30px;
}

.right-margin-lg {
    margin-right: 30px;
}

.left-padding-lg {
    padding-left: 30px;
}

.right-padding-lg {
    padding-right: 30px;
}

/* Medium */
.top-padding-md {
    padding-top: 15px;
}

.bottom-padding-md {
    padding-bottom: 15px;
}

.left-margin-md {
    margin-left: 15px;
}

.right-margin-md {
    margin-right: 15px;
}

.left-padding-md {
    padding-left: 15px;
}

.right-padding-md {
    padding-right: 15px;
}

/* Small */
.top-padding-sm {
    padding-top: 8px;
}

.bottom-padding-sm {
    padding-bottom: 8px;
}

.left-margin-sm {
    margin-left: 8px;
}

.right-margin-sm {
    margin-right: 8px;
}

.left-padding-sm {
    padding-left: 8px;
}

.right-padding-sm {
    padding-right: 8px;
}