.bold {
    font-weight: 700;
}

.no-left-padding {
    padding-left: 0px;
}

.top-margin-lg {
    margin-top: 30px;
}

.bottom-margin-lg {
    margin-bottom: 30px;
}

.top-margin-md {
    margin-top: 15px;
}

.bottom-margin-md {
    margin-bottom: 15px;
}



.top-margin-sm {
    margin-top: 8px;
}

.bottom-margin-sm {
    margin-bottom: 8px;
}

