.bold {
    font-weight: 700;
}

.no-left-padding {
    padding-left: 0px;
}

.bottom-border {
    border-bottom: 1px solid;
    border-bottom-color: lighten($input-border, 10%);    
}

.top-border {
    border-top: 1px solid;
    border-top-color: lighten($input-border, 10%);    
}

.top-margin-lg {
    margin-top: 30px;
}

.bottom-margin-lg {
    margin-bottom: 30px;
}

.top-margin-md {
    margin-top: 15px;
}

.bottom-margin-md {
    margin-bottom: 15px;
}

.top-margin-sm {
    margin-top: 8px;
}

.bottom-margin-sm {
    margin-bottom: 8px;
}


.top-padding-lg {
    padding-top: 30px;
}

.bottom-padding-lg {
    padding-bottom: 30px;
}

.top-padding-md {
    padding-top: 15px;
}

.bottom-padding-md {
    padding-bottom: 15px;
}

.top-padding-sm {
    padding-top: 8px;
}

.bottom-padding-sm {
    padding-bottom: 8px;
}

