@media only screen and (max-width: 500px) {

    div.incidents img.incident-image {
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 0 0 0 0;
        display: block;
        margin: 5px auto;
    }

    div.incidents span.date{
        display: block;
    }

    div.incidents span.source {
        display: block;
        padding-left: 0;
        padding-top: 8px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    
    div.incidents img.incident-image {
        max-width: 200px;
    }


    div.incidents div.location{
        font-size: 1.25em;
    }

    div.incidents span.date {
        font-size: 1.125em;
    }

    div.incidents span.source {
        font-size: 1.125em;
    }

}