@media only screen and (max-width: 500px) {

    div.incidents img.incident-image {
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    div.incidents span.date{
        display: block;
    }

    div.incidents span.source {
        display: block;
        padding-left: 0;
        padding-top: 8px;
    }
}