@media only screen and (max-width: 500px) {
    div.incident div.incident-title {
        margin-bottom: 15px;
    }

    div.incident h2.title {
        text-align: left;
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 8px;
    }

    div.incident img {
        width: 100%;
        float: none;
        padding: 0 0 0 0;
    }

    div.incident div.incident-meta {
        margin: 15px 0;
        padding-top: 0;
    }

    div.incident div.location{
        text-align: left;
        font-size: 1.25em;
        font-weight: 500;
    }

    div.incident div.date-source {
        margin: 0;
        padding: 8px 0;
    }

    div.incident span.date {
        text-align: left;        
        display: block;        
        font-size: 1.125em;
    }

    div.incident span.source {
        text-align: left;                
        display: block;        
        padding: 0;
        font-size: 1.125em;
    }

    div.incident div.description {
        font-size: 1.25em;
    }

    div.incident div.nav-menu {
        font-size: 1.15em;
    }

    div.nav-menu div.prev,
    div.nav-menu div.home,
    div.nav-menu div.next {
        display: inline-block;
        padding: 0;
    }    

    div.nav-menu div.prev {
        float: left;
    }

    div.nav-menu div.prev span {
        padding-left: 8px;
    }

    div.nav-menu div.home {
        display: none;
    }

    div.nav-menu div.next {
        float: right;
    }

    div.nav-menu div.next span {
        padding-right: 8px;
    }

}