div#incidents .VueTables th:nth-child(6) span { 
    display: none;
}

div#incidents .VueTables th:nth-child(2) span { 
    width: 75px;
}

div#incidents .VueTables th:nth-child(4) span { 
    width: 100px;
}

div#incidents .VueTables th:nth-child(5) span { 
    width: 60px;
}